

#c_elem_detail {
        position:relative;
        box-sizing:border-box;
        width:50%;
        margin:0;
        padding:10px;
        float:left;
}
#elem_detail {
        overflow:hidden;
        position:relative;
        box-sizing:border-box;
        border:1px solid #66a3ff;
        width:100%;
        background-color:white;
        border-radius: 5px;
        transition: all .2s ease-in-out;
}
#elem_detail:hover {
        transform: scale(0.9);
}
#elem_detail_title {
        position:relative;
        box-sizing:border-box;
        border:none;
        width:100%;
        padding:5px 5px 5px 10px;
        float:top;
        background-color:#cce0ff;
        color:#0052cc;
        #font-weight:bold;
        font-family:Arial;
}

#elem_detail_img_upper_left {
        position:relative;
        box-sizing:border-box;
        border:none;
        width:50%;
        height:80px;
        margin:0;
        padding:0;
        float:left;
}
#elem_detail_img_upper_left img{max-height:100%;max-width:100%;min-height:100%;}

#elem_detail_img_upper_right {
        position:relative;
        box-sizing:border-box;
        border:none;
        width:50%;
        height:80px;
        margin:0;
        padding:0;
        float:left;
}
#elem_detail_img_upper_right img{max-height:100%;max-width:100%;min-height:100%;}

#elem_detail_img_bottom_left {
        position:relative;
        box-sizing:border-box;
        border:none;
        width:50%;
        height:140px;
        margin:0;
        padding:0;
        float:left;
}
#elem_detail_img_bottom_left img{max-height:100%;max-width:100%;min-height:100%;}

#elem_detail_img_bottom_right {
        position:relative;
        box-sizing:border-box;
        border:none;
        width:50%;
        height:140px;
        margin:0;
        padding:0;
        float:left;
}
#elem_detail_img_bottom_right img{max-height:100%;max-width:100%;min-height:100%;}

.btn_container_33{
  display:inline-block;
  box-sizing:border-box;
  width:33.3%;
  margin:0;
  padding:5px;
  float:left;
  text-align:center;
}

.btn_container_25{
  display:inline-block;
  box-sizing:border-box;
  width:25%;
  margin:0;
  padding:5px;
  float:left;
  text-align:center;
}


.btn_gamas{
  box-sizing:border-box;
  position:relative;
  overflow:hidden;
  width:100%;
  margin:0;
  padding:0;
  border:1px solid #66a3ff;
  border-radius: 5px;
  float:left;
  transition:All 0.4s ease-in-out;
}
.btn_gamas:hover{
  transform: scale(1.1);
}
.btn_gamas a:visited, .btn_gamas a{
    color:black;
}
.btn_gamas_img{
    position:relative;
    float:top;
}
.btn_gamas_img img{min-width:100%;max-width:100%;max-height:100%}
.btn_gamas_texto{
    position:relative;
    float:top;
    padding:2px;
    text-align:center;
    background-color:#cce0ff;
}
.btn_gamas_texto font{
  font-size:12px;
  font-family:Arial;
  font-weight:bold;
  color:#0052cc;"
}

.container_100_percent{
        display:inline-block;
        box-sizing:border-box;
        width:100%;
        margin:0 0 20px 0;
        padding:5px;
        float:top;
        text-align:center;
}
.container_50_percent{
        display:inline-block;
        box-sizing:border-box;
        width:50%;
        margin:0;
        padding:5px;
        float:left;
        text-align:center;"
}
.container_50_percent img{max-height:100%;max-width:100%;min-height:100%;}

@media screen and (max-width: 600px) {

        #c_elem_detail {
                position:relative;
                box-sizing:border-box;
                border:none;
                width:100%;
                margin:0;
                padding:10px;
                float:left;
        }
        #elem_detail:hover {
                transform:none;
        }
        .btn_container_33, .btn_container_25{
                width:100%;
                margin:0;
                padding:10px 20px 10px 20px;
        }
        .btn_gamas_texto font{
            font-size:22px;
        }
        .btn_gamas:hover{
                transform:none;
        }
        .container_50_percent{
                width:100%;
                float:top;
                padding:0;
        }
}
