.titulo_caracteristicas{
  width:95%;
  margin:20px auto 10px auto;
  font-family:Arial;
  font-weight:bold;
  font-size:20px;
  border-bottom: 3px solid black;
}


.cuadro_caracteristicas {
  box-sizing:border-box;
  position:relative;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  border: 1px solid #808080;
  margin:10px auto 10px auto;
  width:95%;
  padding:10px;
  overflow:hidden;
  font-family:Arial;
  -webkit-box-shadow: inset 7px -6px 4px -4px rgba(0,0,0,0.51);
  -moz-box-shadow: inset 7px -6px 4px -4px rgba(0,0,0,0.51);
  box-shadow: inset 7px -6px 4px -4px rgba(0,0,0,0.51);
}

