
body {magin:0;padding:0;}
table {border:1px solid blue;width:100%;margin:0;padding:0;}
tr,th,td {text-align:center;padding:2px;background-color:#b3b3ff;}
select,textarea,input[type=text] {width:100%;background-color:#e6e6ff;}

.green {background-color:#9fef7a;border: 1px solid #34a500;color:#34a500;font-weight:bold;}

#accion {width:80%;margin:auto;box-sizing:border-box;padding:0;}
#button_container {width:80%;margin:auto;padding:5px;box-sizing:border-box;background-color:#d3dae5;}
.button_group {margin:5px;float:top;padding:0;}
